/*	BUTTONS ------------------------------------- */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	margin-bottom: 1em;
	border: none;
    background-color: $brand-color;
    color: $white;
    padding: .5em 1em;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    //font-weight: $semi-bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    //white-space: nowrap;

    transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;

	border-radius: $border-radius;

    &:hover {
		background: darken($brand-color, 10);
		color: $white;
		outline: none;
		text-decoration: none;
    }
}

.green {
	background: $wolf-green;

	&:hover {
		background: darken($wolf-green, 10);
	}
}

.large {
	padding: 1em 2em;
	font-size: 16px;
	line-height: 1.6;
	border-radius: $border-radius-large;
}

.medium {
	padding: .7em 1.4em;
	font-size: 15px;
	line-height: 1.5;
	border-radius: $border-radius;
}

.wide {
    	width: 100%;
}

.buttons {
	margin-top: 1.5em;
}