/* COUNT/BADGE ----------------*/
.count {
    font-size: 12px;
    color: lighten($black,30);
    padding: 1px 2px;

    &:before {
        content: '(';
    }

    &:after {
        content: ')';
    }
    
}