/* Messages ------------------------------------- */

#info, #error, #success {
/* css for fade positioning -- start */
  position: absolute;
  left: 10%;
  width: 75%;
  margin: 0 auto;
  padding: 1em 1.5em 0.9em 1.5em;
  text-align: center;
  
  /* Border-radius not implemented yet */
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius: 6px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius: 6px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;

  box-shadow: 5px 3px 4px #333;
  -moz-box-shadow: 5px 3px 4px #333;
  -webkit-box-shadow: 5px 3px 4px #333;
}

#info {
  background: #EDFE86;
  color: #000;
}
#error {
  background: #a22;
  color: #fff;
}
#success {
  background: #cfc;
  color: #000;
}