/* Footer ----------------------------------------------------------------- */
#footer {
    @include row();
    font-size: 90%;
    padding-top: 2em;

    .info {
        @include column(6);
    }

    #site-links {
        @include column(6);
        text-align: right;
    }
}