/*  FORMS --------------------- */
input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea,
select {
    font-family: $sans-serif;
    border: 1px solid $border-color;
    height: 28px;
    padding: 3px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    border-radius: $border-radius;
    box-shadow: none;
    background: $white;
}

/* Default width on all elements except select (dropdown) */
input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
textarea {
    width: 100%
}

/* Removes awkard default styles on some inputs */
input[type="email"],
input[type="search"],
input[type="text"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 20em;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Make all dropdowns 150px wide. It's more consistent */
select {
    min-width: 150px;
}

input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    //border: 1px solid #33C3F0;
    border: darken($border-color,10) solid 1px;
    outline: 0;
}

label {
    display: block;
    font-weight: 600;
}

legend {
    width: 100%;
    display: block;
    padding-bottom: 0.5em;
    color: $red;
    font-weight: $semi-bold;
    text-transform: uppercase;
    border-bottom: $border-color solid 1px;
}

fieldset {
    border-width: 0;
    padding: 0 0 0.5em 0;
}

input[type="checkbox"] > label,
input[type="radio"] > label {
    display: inline-block;
    vertical-align: top;
}

label > .label-body {
    display: inline-block;
    font-weight: normal;
    margin-left: .5em;
}

.inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}




