/*  LOGIN ----------------- */
.login {
  margin: 10% auto;
  width: 350px;
  text-align: center;

  h1 {
    border: none;
  }
}

#dialog {
  margin-bottom: 2em;
  background: $white;
  border: $wrap_border solid 1px;
  text-align: left;
  border-radius: $border-radius;

  h2 {
    position: relative;
    margin: 1em 1em 0 1em;
    margin-bottom: 0;

    span.forgot-password-link, span.login-link {
      position: absolute;
      right: 0;
      bottom: 2px;

      font-size: 13px;
    }
  }

  form {
    padding: 2em 1em;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      margin-bottom: 1em;
    }

    button {
      margin-bottom: 0;
    }
  }

  .remember-me {
    margin-bottom: 0.5em;
  }
}

a {
  text-decoration: none;
  font-weight: $regular;
}
