.hidden { display: none; }
.clear { font-size: 1px; clear: both; }
.warning { color: #D42B27; }

.handle { display: none; cursor: move; vertical-align: middle; }
.handle_reorder { display: none; cursor: move; vertical-align: middle; }
.handle_copy { display: none; cursor: move; vertical-align: middle; }