/*	PAGE TREE --------------------- */
/* #site-map-def is first row */
#site-map-def {
    @include row();
    font-size: 90%;
    margin-bottom: 5px;
    border-bottom: 1px solid $grey;

    .page {
    	@include column(8,0);
        margin-bottom: 10px;
    }
    .page-layout, 
    .status,
    .view,
    .modify {
    	@include column(1,0);
        text-align: center;
    }

    // snippet
    .snippet, .layout {
    	@include column(11,0);
        margin-bottom: 10px;
    }
}

//Site map root contains all other rows
#site-map-root {
    //@include row();
    font-size: 90%;
    
    li.node {
        @include row();
        padding: 5px 0;
        border-bottom: 1px solid $grey;

        .page {
            @include column(8,0);
        }

        .page-layout,
        .status,
        .view-page,
        .modify {
            @include column(1,0);
            text-align: center;
        }
    }
}

/* Hide + expander for children pages
#site-map .page img.expander {
    display: none;
}*/

// Snippet and Layout
.index {
	
	li.node {
		@include row();
		padding: 5px 0;
		border-bottom: 1px solid $grey;

		.title {
			@include column(11,0);
		}

		.delete {
			@include column(1,0);
			text-align: center;
		}

		a {
			color: $wolf-brown;
			text-decoration: none;
		}
	}
}

