/* Tabs ------------------------------------------------------------------- */
#metainfo-tabs {
  margin: 2em 0 0 0;
}

.tab, .tabs {
  display: inline;
}
/*#metainfo-tabs { margin: 10px 0 5px 0; }
#part-tabs { margin: 35px 0 5px 0; }
.tabs {
  margin-right: -4px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 6px;
}
.tabs .tab {
  display: inline;
  border: $border-color solid 1px;
}
.tabs .tab a {
  margin-right: 0.35em;
  padding: 0.35em 1em 0.35em 1em;
  text-decoration: none;
  color: #000;


  border-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}
.tabs .tab a.here {
  background-color: #fff;
  font-weight: bold;
}

*/