/* Tabs ------------------------------------------------------------------- */



//Edit page navigational tabs container Page title, Metadata, Settings + hooks
/*#metainfo-tabs {
  margin: 2em 1em;
  border-bottom: $border-color solid 1px;
}

// Page parts
#part-tabs {
  margin: 2em 1em;
}

#part-content {

}

.tab, .tabs {
  display: inline;
  width: 100%;
  margin: 1em 0;

  a {
    color: $base-font-color;
    text-decoration: none;
    padding: 0.5em 1em;
    border: $border-color solid 1px;
    border-bottom: none;

    &.here {
      font-weight: $bold;
    }
  }
}*/

.tabNavigation {
  border-bottom: $border-color solid 1px;
  margin-bottom: 1em;

  .right { float: right; }
}

.tab {
  display: inline-block;
  padding: 0.7em;
  margin-bottom: -1px;

  &.ui-state-active {
    background-color: $white;
    border: solid 1px;
    border-color: $border-color;
    border-width: 1px 1px 0 1px;
    border-bottom: $white solid 1px;

    /*a {
      font-weight: $bold;
    }*/

  }

  &:hover {
    background-color: $light_grey;
  }

  a {
    color: $base-font-color;
    text-decoration: none;
    outline: none;

    &:hover {
      color: $red;
    }
  }
}

#part-tabs {
  margin-top: 1em;

  .tab {
    //@extend .tab;
    display: inline-block;
  padding: 0.7em;
  margin-bottom: -1px;



    a.here {
      background-color: $white;
      border: solid 1px;
      border-color: $border-color;
      border-width: 1px 1px 0 1px;
      border-bottom: $white solid 1px;
    }
  }
}

#tab-toolbar {
  display: inline;
  float: right;

  a {
    line-height: 4;
  }
}

/*#metainfo-tabs { margin: 10px 0 5px 0; }/*
#part-tabs { margin: 35px 0 5px 0; }
.tabs {
  margin-right: -4px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 6px;
}
.tabs .tab {
  display: inline;
  border: $border-color solid 1px;
}
.tabs .tab a {
  margin-right: 0.35em;
  padding: 0.35em 1em 0.35em 1em;
  text-decoration: none;
  color: #000;


  border-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;

  -moz-border-radius: 6px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 6px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
}
.tabs .tab a.here {
  background-color: #fff;
  font-weight: bold;
}

*/