// Grid stuff
$gutter_width: 40px; // Your gutter width
$columns: 12; // The amount of columns you want
$max_width: 1280px; // Set a maximum width of the site
$site_align: center !default;

// Colors
$black: #333;
$white: #fff;
$green: #76a83a;
$red: #C0392B;
$blue: #2980b9;
$light_blue: #9eb3bf;
$grey: #e5e5e5;
$light_grey: #edede7;
$wrap_border: #d4d4d4;
$dark_grey: #999;


// Main site color
$brand-color: #364144;

// Admin background color
$background-color: $light_grey;

// Borders
$border-color: $grey;
$form-border-color: $grey;

// Links
$link: $red;
$link-hover: darken($brand-color, 10);

// Flash messages
$success: $green; // $wolf-green
$info: $blue; // blue
$error: $red; // red

// Page status messages
$page-status: $grey;
$page-status-published: $black; // new darker brown
$page-status-draft: $red; // red
$page-status-hidden: $light_blue; // blueish
$page-status-preview: $green; // new, darker green

// Fonts
$serif: Georgia, 'Times New Roman', Times, serif;
$sans-serif: Tahoma, "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
$mono: 'Consolas', 'Lucida Console', 'Courier New', 'Monaco', Courier, monospace;

// Weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Base font settings
$base-font-family: $sans-serif;
$base-font-color: $black;
$base-font-size: 14px;
$base-line-height: 1.4;

$font-size-large: 18px;
$font-size-small: 12px;

// Headings
$heading-font-family: $sans-serif;
$heading-font-color: $black;


// Line heights
$line-height-large: 1.8;
$line-height-small: 1.2;

// Border radius
$border-radius: 2px;
$border-radius-large: 4px;
$border-radius-small: 1px;


// Spacing, Margin, Padding
$spacing: 1.5em;