<?php echo '<?php'; ?> 

// Database information:
// for SQLite, use sqlite:/tmp/frog.db (SQLite 3)
// The path can only be absolute path or :memory:
// For more info look at: www.php.net/pdo

// Database settings:
<?php if ($db_driver == 'mysql'): ?>
define('DB_DSN', 'mysql:dbname=<?php echo $db_name; ?>;host=<?php echo $db_host; ?>;port=<?php echo $db_port; ?>');
<?php else: ?>
define('DB_DSN', 'sqlite:<?php echo $db_name; ?>');
<?php endif; ?>
define('DB_USER', '<?php echo $db_user; ?>');
define('DB_PASS', '<?php echo $db_pass; ?>');
define('TABLE_PREFIX', '<?php echo $table_prefix; ?>');

// Should Frog produce PHP error messages for debugging?
define('DEBUG', false);

// Should Frog check for updates on Frog itself and the installed plugins?
define('CHECK_UPDATES', true);

// The number of seconds before the check for a new Frog version times out in case of problems.
define('CHECK_TIMEOUT', 3);

// The full URL of your Frog CMS install
define('URL_PUBLIC', 'http://<?php echo substr(dirname($_SERVER['HTTP_HOST'].$_SERVER['SCRIPT_NAME']), 0, strrpos(dirname($_SERVER['HTTP_HOST'].$_SERVER['SCRIPT_NAME']), '/')); ?>/');

// The directory name of your Frog CMS administration (you will need to change it manually)
define('ADMIN_DIR', 'admin');

// Change this setting to enable mod_rewrite. Set to "true" to remove the "?" in the URL.
// To enable mod_rewrite, you must also change the name of "_.htaccess" in your
// Frog CMS root directory to ".htaccess"
define('USE_MOD_REWRITE', false);

// Add a suffix to pages (simluating static pages '.html')
define('URL_SUFFIX', '<?php echo $url_suffix; ?>');

// If your server doesn't have PDO (with MySQL driver) set the below to false:
define('USE_PDO', <?php echo $use_pdo ? 'true': 'false'; ?>);

// Set the timezone of your choice.
// Go here for more information on the available timezones:
// http://php.net/timezones
define('DEFAULT_TIMEZONE', '<?php $tz = date('e'); echo $tz != 'e' ? $tz: 'GMT'; ?>');
