body {
    background: #888;
    font: 20px Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
    margin: 0;
}

h1, h2 {
    font-weight: 100;
}

header {
    background: #769D31;
    color: #fff;
    text-shadow: 0 0 3px #000;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    text-decoration: underline;
}

header h2 {
    font-style: italic;
}

main {
    background: #fff;
}

#content {
    margin: 20px;
}

footer {
    text-align: center;
    background: #483E37;
    padding: 10px;
    border-top: 4px solid #79A325;
    font-size: 16px;
    color: #fff;
    clear: both;
}

footer a {
    color: #79A325;
}

img, pre {
    max-width: 100%;
}

pre {
    overflow: auto;
}

@media screen and (min-width:900px) {
    header {
        background: url("images/wolf.jpg");
        padding: 10px 50px;
        border-bottom: solid 8px #483E37;

    }
    
    nav {
        float: right;
        clean: right;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
    }
    
    nav li {
        display: inline-block;
        background: #769D31;
        padding: 10px;
        margin-right: 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 5px 5px 5px #888;
    }
    
    nav a {
        color: #fff;
    }
    
    main {
        margin: 0 auto;
        max-width: 900px;
        box-shadow: 0 0 5px;
        background: #fff;
    }
    
    #content {
        max-width: 600px;
        float: left;
    }
    
    aside {
        width: 200px;
        float: right;
        padding: 10px;
        margin: 19px;
        border-left: solid 2px #79A325;
        clear: right;
    }
}

@media screen and (max-width:899px) {
    header {
        padding: 20px;
    }
    
    header h1, header h2 {
        margin: 0;
    }
    
    header h1 {
        text-decoration: underline;
    }
    
    nav {
        background: #483E37;
        text-align: right;
    }
    
    nav ul {
        margin: 0;
    }
    
    nav li {
        display: inline-block;
        padding: 10px;
    }
    
    nav a {
        color: #fff;
    }
    
    aside {
        margin: 20px;
        border-top: solid 2px #79A325;
    }
}
